header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/homepage.jpg);
    background-size: cover;
    background-position: center;
    min-height: 680px;
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.tabs .indicator{
    background-color: #1a237e;
    }
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}
.contact-ul li{
    
}
@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}
